<ul class="nav justify-content-end" id="topLinks">
  <li class="nav-item">
    <a class="nav-link disabled" href="/edit">Edit</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="/logout">Logout</a>
  </li>
</ul>

<div class="container">
  <div class="row" id="addHouse">
    <div id="form">
      <h2>Add a favorite house</h2>
      <form class="create-update-form" action="/houses" method="POST">
        <div class="form-group">
          <label for="ca">Address:</label>
          <input type="text" id="address" name="address">
          <label for="ca">City:</label>
          <input type="text" id="city" name="city">
          <label for="ca">State:</label>
          <input type="text" id="state" name="state">
          <label for="ca">Zip:</label>
          <input type="text" id="zip" name="zip">
        </div>
        <button type="submit">Add House</button>
      </form>
    </div>
  </div>


<div class="row" id="housesTable">
<div class="table-users">
   
   <table cellspacing="10">

      <tr>
         <th>House</th>
         <th>Address</th>
         <th>Price</th>
         <th>Number of Bedrooms</th>
         <th>Sq Ft</th>
          
          {{#if houseData.location}}
            <th>Location</th>
         {{/if}}

        {{#if houseData.remodel}}
            <th>Remodel Work</th>
         {{/if}}

         {{#if houseData.schools}}
            <th>Schools</th>
         {{/if}}
         
         {{#if houseData.features}}
            <th>Special Features</th>
         {{/if}}

         {{#if houseData.tax}}
            <th>Taxes</th>
         {{/if}}
         
            <th width="230">Comments</th>
         
      </tr>
{{#each houseData}}
        <tr>
           <td><img src="https://cdn.houseplans.com/product/o2d2ui14afb1sov3cnslpummre/w1024.jpg?v=15" alt=""></td>
           <td>{{this.address}}</td>
           <td>{{this.zestimate}}</td>
           <td>{{this.bedrooms}}</td>
           <td>{{this.sqft}}</td>
           <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </td>
        </tr>
{{/each}}
     </table>
  </div>
</div>
   



