
<div class="row row1">
  <div class="col"></div>
  <div class="col" id="selectFields">
    <h2> Select up to 3 house note fields to add to your comparison tool</h2>
      <form action="/usersettings?_method=PUT" method="POST">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="kitchen" value="kitchen">Kitchen
        </label><br>
         <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="garage" value="garage">Garage
        </label><br>
         <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="remodel" value="remodel">Remodel Work Needed
        </label><br>
         <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="schoole" value="schools">Schools
        </label><br>
         <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="study" value="study">Study
        </label><br>
         <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="features" value="features">Special Features
        </label><br>
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="location" value="location">Location
        </label><br>
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="tax" value="tax">Tax Rates
        </label><br>
         <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="sizes" value="sizes">Room Sizes
        </label><br>
      </div>
      <input type="submit" value="Submit">
    </form>
  </div>
  <div class="col"></div>
</div>






