<h2> Select up to 3 house note fields to add to your comparison tool</h2>

<form action="/usersettings?_method=PUT" method="POST">
  <input type="checkbox" name="kitchen"> Kitchen<br>
  <input type="checkbox" name="garage"> Garage<br>
  <input type="checkbox" name="remodel"> Remodel Work Needed<br>
  <input type="checkbox" name="schools"> Schools<br>
  <input type="checkbox" name="study"> Study<br>
  <input type="checkbox" name="features"> Special Features<br>
  <input type="checkbox" name="location"> Location<br>
  <input type="checkbox" name="tax"> Tax Rates<br>
  <input type="checkbox" name="sizes"> Room Sizes<br>
  <input type="submit" value="Submit">
</form>