
.nav-link{
	color: 	#303030;
}

body {
	background: url("../images/home.jpg") no-repeat center center fixed;
	 background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

.topLinks{
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(220,220,220,0.8);
	position: fixed;
	right: 0;
}

#addHouse {
	padding: 10px 0px 10px 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(220,220,220,0.8);
}

#row1 {
	background-color: rgba(220,220,220,0.8)
}


body {
   background-color: lighten(#398B93, 30%);
}



img {
   height: 20%;
   
}

#housesTable {
	background-color: rgba(220,220,220,0.8);
}

.table-houses {
	background-color: rgba(220,220,220,0.8),
   	border: 1px solid darken(#398B93, 5%);
	border-radius: 10px;
	box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
	max-width: calc(100% - 2em);
	margin: 1em auto;
	overflow: hidden;
   	width: 100%;
}

.imageCentered{
	text-align: center;
}

.td{ 
	text-align: center;
	vertical-align: middle;
	border: 1px solid grey;
}

.th {
	text-align: center;
	vertical-align: middle;
	min-width: 75px;
}

table {
   width: 100%;
   }


#selectFields {
	background-color: rgba(220,220,220,0.8);
	margin-top: 20px;
	padding-top: 10px;

}

#select{
	font-size: 20px;
}

#delete{
	background: #ed5e68;
}

.custom{
	width: 55px !important;
}

#address{
	min-width:90px;
}


