
.container {
    margin: 0px !important;
}

.section1 {
    font-family: 'Open Sans', sans-serif;
    background: url("../images/home-bike.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#homeRow {
    background-color: rgba(220,220,220,0.8);
}

.logo{ 
    font-family: 'Archivo Black', sans-serif;
    font-size: 88px;
    text-align: left;
}

.tagline{
    text-align: center;
}


.section2{
    font-family: 'Open Sans', sans-serif;
    background: url("../images/blue-door.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}



